/Wechat/AliYunModel/bin
/Wechat/AliYunModel/obj
/Wechat/Framework/Core/obj
/Wechat/Framework/Core/bin
/Wechat/Service/YaoService/bin
/Wechat/Service/YaoService/obj
/Wechat/Service/WeixinService/obj
/Wechat/Service/WeixinService/bin
/Wechat/UnitTest/YaoTest/bin
/Wechat/UnitTest/YaoTest/obj
/Wechat/UnitTest/CoreTests/obj
/Wechat/UnitTest/CoreTests/bin
/Wechat/WechatApp/obj
/Wechat/WechatApp/bin
/Wechat/WechatQyApp/obj
/Wechat/WechatQyApp/bin
/Wechat/.vs/Wechat/v14
/Shuyue/A_Model/ManageEF/obj
/Shuyue/A_Model/ManageEF/bin
/Shuyue/A_Model/Model/obj
/Shuyue/A_Model/Model/bin
/Shuyue/B_Framework/EFData.Core/obj
/Shuyue/B_Framework/EFData.Core/bin
/Shuyue/B_Framework/ManageCore/obj
/Shuyue/B_Framework/ManageCore/bin
/Shuyue/C_BLL/ManageService/obj
/Shuyue/C_BLL/ManageService/bin
/Shuyue/C_BLL/YaoService/bin
/Shuyue/C_BLL/YaoService/obj
/Shuyue/D_Application/Manage/obj
/Shuyue/D_Application/Manage/bin
/Shuyue/D_Application/SpiderService/obj
/Shuyue/D_Application/SpiderService/bin
/Shuyue/D_Application/StockApp/obj
/Shuyue/D_Application/StockApp/bin
/Shuyue/D_Application/SpiderService/Content/TxtFile
/Shuyue/D_Application/SpiderService/Content/Img/Zhihu
/Shuyue/D_Application/SpiderService/Content/Log
