<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
  </configSections>
  <appSettings >

    <!--企业号-->
    <add key="CorpId" value="wx1c45702b62915c55" />
    <add key="CorpSecret" value="CQuvCOhftyyKprsjpkrTF-VLxKWn01VE3Dd8zBtloOGwiObnpClvdmMhwnEFpO99" />
    <add key="LeShareUrl" value="http://todo.mstyles.com.cn"/>

    <add key="ImgPath" value="G:\WeixinApplication\Wechat\WechatQyApp\Img\"/>
  </appSettings>
  <connectionStrings>
    <add name="AliDbEntities" connectionString="metadata=res://*/AliModel.csdl|res://*/AliModel.ssdl|res://*/AliModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=qds106623286.my3w.com;initial catalog=qds106623286_db;persist security info=True;user id=qds106623286;password=2131402780;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>