
@{
    ViewBag.Title = "更新行业信息";
}


<div class="mianbaowarp  clearfix ">
    @Html.Partial("_NavPartial")
</div>
<div>
    <label>请上传更新文件：</label><input type="file" id="fileAjax" /><br />
    <label id="tipText"></label>
</div>

@section scripts{
    <script>
        var path = "";
        window.uploadFile = {
            init: function () {
                this.fileUploader.init();
            },
            fileUploader:{
                init: function () {
                    $("#fileAjax").change(function (e) {
                        uploadFile.fileUploader.upload(e.delegateTarget.files[0]);
                    })
                },
                upload: function (file) {
                    if (!file) return;
                    var formdata = new FormData(),
                        that = this;
                    formdata.append('Filedata', file)
                    $.ajax({
                        type: 'post',
                        url: "/Common/Upload",
                        data: formdata,
                        contentType: false,
                        processData: false,
                        crossDomain: true,
                        xhr: function () {
                            var xhr = jQuery.ajaxSettings.xhr();
                            xhr.upload.onprogress = function (event) {
                            }
                            return xhr;
                        },
                        error: function () {
                            console.error(arguments[2]);
                        },
                        success: function (data, texts, xhr) {
                            if (data.Code == 0) {
                                path = data.Data;
                                console.log(data.Data);
                            } else {
                                alert("上传出错！");
                                return;
                            }
                            that.complete();
                        }
                    })
                },
                complete: function () {
                    $("#tipText").text("文件上传成功，正在更新行业内容...");
                    console.log("文件上传成功。");
                    if(path=="")$("#tipText").text("更新失败！")
                    else updateIndustry(path);
                },
                setValue: function (value) {

                }
            }
        }
        function updateIndustry(path) {
            $.post("/Prophesy/UpdateIndustry", { path: path }, function (d) {
                $("#tipText").text("行业内容更新完成！");
            });
        }
        uploadFile.init();
    </script>
}