<connectionStrings>
  <add name="SQY_ManageEntities" connectionString="metadata=res://*/ManageEntities.csdl|res://*/ManageEntities.ssdl|res://*/ManageEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=118.144.93.10;initial catalog=SQY_Manage;persist security info=True;user id=sa;password=sq80@*)site;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="SQY_StockEntities" connectionString="metadata=res://*/StockEntities.csdl|res://*/StockEntities.ssdl|res://*/StockEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=118.144.93.10;initial catalog=SQY_Stock;persist security info=True;user id=sa;password=sq80@*)site;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <!--<add name="SQY_ManageEntities" connectionString="metadata=res://*/ManageEntities.csdl|res://*/ManageEntities.ssdl|res://*/ManageEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=118.144.93.10;initial catalog=SQY_Manage;user id=sa;password=sq80@*)site;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <!--<add name="SQY_ManageEntities" connectionString="metadata=res://*/ManageEntities.csdl|res://*/ManageEntities.ssdl|res://*/ManageEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MYLIFE;initial catalog=SQY_Manage;user id=sa;password=2131402780;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <add name="ManageConn" connectionString="user id=sa;data source=118.144.93.10;persist security info=True;initial catalog=SQY_Manage;password=sq80@*)site" />
  <add name="StockConn" connectionString="user id=sa;data source=118.144.93.10;persist security info=True;initial catalog=SQY_Stock;password=sq80@*)site" />
</connectionStrings>