<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <!--是否开启调试 0关闭1开启-->
  <add key="IsDebug" value="0" />
  <add key="DebugUserId" value="1" />

  <!--知乎回答抓取配置-->
  <!--图片路径-->
  <add key="ImgPath" value="D:\workspace\Shuyue\D_Application\StockApp\Content\Img\"/>
  <!--文本路径-->
  <add key="TxtPath" value="D:\workspace\Shuyue\D_Application\StockApp\Content\TxtFile\"/>
  <!--最小赞数-->
  <add key="ZanLevel" value="1000"/>
  <!--推荐文章所需最小赞数-->
  <add key="RecommendZanLevel" value="5000"/>
</appSettings>