<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="AliDbEntities" connectionString="metadata=res://*/AliModel.csdl|res://*/AliModel.ssdl|res://*/AliModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=qds106623286.my3w.com;initial catalog=qds106623286_db;persist security info=True;user id=qds106623286;password=2131402780;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <!--<add name="AliDbEntities" connectionString="metadata=res://*/Yinghua.csdl|res://*/Yinghua.ssdl|res://*/Yinghua.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Yingh;user id=sa;password=gege;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
</connectionStrings>