<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ZhiHu" connectionString="user id=sa;data source=118.144.93.10;persist security info=True;initial catalog=SQY_Manage;password=sq80@*)site"/>
    <add name="Monitor" connectionString="user id=sa;data source=118.144.91.120;persist security info=True;initial catalog=3e21report;password=sq98@(*Count"/>
    <add name="ff" connectionString="server=localhost;User Id=root;password=111111;Database=ff"/>
  </connectionStrings>
</configuration>
