
@{
    ViewBag.Title = "字体图标";
}

<div class="smContent">
    <div class="mianbaowarp margin-top20  clearfix">
        @Html.Partial("_NavPartial")
    </div>
    <dl class="sm-dl margin-top20">
        <dt class="margin-b30">必须引用样式：<span class="html-pre"> &lt;link href=&quot;Content/css/font/iconfont.css&quot; rel=&quot;stylesheet&quot; /&gt;</span></dt>
        <dt>字体图标用法：<span class="html-pre"> &nbsp; &lt;i class=&quot;iconf icon-x-shezhi&quot;&gt;&lt;/i&gt;  &nbsp; </span> &nbsp;<i class="iconf icon-x-shezhi"></i></dt>
        <dt><a href="font/demo.html">查看所有字体图标</a></dt>
        <dd><strong>iconf</strong>是字体图标的基本样式</dd>
        <dd>字体图标有两种样式一种线性图标<strong>icon-x</strong><i class="iconf icon-x-ad"></i>，一种实体图标<strong>icon-s</strong><i class="iconf icon-s-ad"></i></dd>
        <dd><strong>iconf icon-x-shezhi</strong>类名与字体是1对1的关系</dd>
        <dd>字体图标的大小根据 字体大小的像素改变</dd>
    </dl>
    <p>
        热门字体：
        <a href="">增加</a>
        <a href="">删除</a>
        <a href="">修改</a>
        <a href="">设置</a>
        <a href="">增加</a>
    </p>
    <ul class="sm-center clearfix">
        <li>
            <i class="iconf icon-suo"></i>
            <p>关键字：锁</p>
            <h4>代码：</h4>
            <div class="html-pre">
                <pre>&lt;i class=&quot;iconf icon-suo&quot;&gt;&lt;/i&gt;</pre>
            </div>
        </li>
        <li>
            <i class="iconf icon-daochu"></i>
            <p>关键字：导出、拉白</p>
            <h4>代码：</h4>
            <div class="html-pre">
                <pre>&lt;i class=&quot;iconf icon-daochu&quot;&gt;&lt;/i&gt;</pre>
            </div>
        </li>
        <li>
            <i class="iconf icon-jinzhi"></i>
            <p>关键字：禁止</p>
            <h4>代码：</h4>
            <div class="html-pre">
                <pre>&lt;i class=&quot;iconf icon-jinzhi&quot;&gt;&lt;/i&gt;</pre>
            </div>
        </li>
        <li>
            <i class="iconf icon-diya"></i>
            <p>关键字：抵、抵押</p>
            <h4>代码：</h4>
            <div class="html-pre">
                <pre>&lt;i class=&quot;iconf icon-diya&quot;&gt;&lt;/i&gt;</pre>
            </div>
        </li>
        <li>
            <i class="iconf icon-rmb"></i>
            <p>关键字：人民币、钱</p>
            <h4>代码：</h4>
            <div class="html-pre">
                <pre>&lt;i class=&quot;iconf icon-rmb&quot;&gt;&lt;/i&gt;</pre>
            </div>
        </li>
        <li>
            <i class="iconf icon-x-tianjia"></i>
            <p>关键字：添加、增加</p>
            <h4>代码：</h4>
            <div class="html-pre">
                <pre>&lt;i class=&quot;iconf icon-x-wanshan&quot;&gt;&lt;/i&gt;</pre>
            </div>
        </li>
        <li>
            <i class="iconf icon-x-wanshan"></i>
            <p>关键字：修改、完善、笔记</p>
            <h4>代码：</h4>
            <div class="html-pre">
                <pre>&lt;i class=&quot;iconf icon-x-wanshan&quot;&gt;&lt;/i&gt;</pre>
            </div>
        </li>
        <li>
            <i class="iconf icon-x-edit1"></i>
            <p>关键字：修改、笔、改正</p>
            <h4>代码：</h4>
            <div class="html-pre">
                <pre>&lt;i class=&quot;iconf icon-x-tianjia&quot;&gt;&lt;/i&gt;</pre>
            </div>
        </li>
        <li>
            <i class="iconf icon-x-del-01"></i>
            <p>关键字：删除、消除、回收</p>
            <h4>代码：</h4>
            <div class="html-pre">
                <pre>&lt;i class=&quot;iconf icon-x-del-01&quot;&gt;&lt;/i&gt;</pre>
            </div>
        </li>
        <li>
            <i class="iconf icon-x-del3"></i>
            <p>关键字：删除人员</p>
            <h4>代码：</h4>
            <div class="html-pre">
                <pre>&lt;i class=&quot;iconf icon-x-del3&quot;&gt;&lt;/i&gt;</pre>
            </div>
        </li>
        <li>
            <i class="iconf icon-x-gongju1"></i>
            <p>关键字：工具、设置</p>
            <h4>代码：</h4>
            <div class="html-pre">
                <pre>&lt;i class=&quot;iconf icon-x-gongju1&quot;&gt;&lt;/i&gt;</pre>
            </div>
        </li>
        <li>
            <i class="iconf icon-x-shezhi"></i>
            <p>关键字：设置，功能，工具</p>
            <h4>代码：</h4>
            <div class="html-pre">
                <pre>&lt;i class=&quot;iconf icon-x-shezhi&quot;&gt;&lt;/i&gt;</pre>
            </div>
        </li>
        <li>
            <i class="iconf icon-x-tixing"></i>
            <p>关键字：提醒、警告、钟</p>
            <h4>代码：</h4>
            <div class="html-pre">
                <pre>&lt;i class=&quot;iconf icon-x-tixing&quot;&gt;&lt;/i&gt;</pre>
            </div>
        </li>
        <li>
            <i class="iconf icon-x-alert"></i>
            <p>关键字：警告、危险</p>
            <h4>代码：</h4>
            <div class="html-pre">
                <pre>&lt;i class=&quot;iconf icon-x-alert&quot;&gt;&lt;/i&gt;</pre>
            </div>
        </li>
        <li>
            <i class="iconf icon-x-shanchu"></i>
            <p>关键字：删除、错误、警告</p>
            <h4>代码：</h4>
            <div class="html-pre">
                <pre>&lt;i class=&quot;iconf icon-x-shanchu&quot;&gt;&lt;/i&gt;</pre>
            </div>
        </li>
        <li>
            <i class="iconf icon-x-quanxian"></i>
            <p>关键字：权限、等级 、锁</p>
            <h4>代码：</h4>
            <div class="html-pre">
                <pre>&lt;i class=&quot;iconf icon-x-quanxian&quot;&gt;&lt;/i&gt;</pre>
            </div>
        </li>
        <li>
            <i class="iconf icon-x-yulan"></i>
            <p>关键字：预览、查看</p>
            <h4>代码：</h4>
            <div class="html-pre">
                <pre>&lt;i class=&quot;iconf icon-x-yulan&quot;&gt;&lt;/i&gt;</pre>
            </div>
        </li>
        <li>
            <i class="iconf icon-x-jiangpin1"></i>
            <p>关键字：奖品、礼包</p>
            <h4>代码：</h4>
            <div class="html-pre">
                <pre>&lt;i class=&quot;iconf icon-x-yulan&quot;&gt;&lt;/i&gt;</pre>
            </div>
        </li>
        <li>
            <i class="iconf icon-x-tuijian"></i>
            <p>关键字：推荐</p>
            <h4>代码：</h4>
            <div class="html-pre">
                <pre>&lt;i class=&quot;iconf icon-x-tuijian&quot;&gt;&lt;/i&gt;</pre>
            </div>
        </li>
        <li>
            <i class="iconf icon-x-zhiding"></i>
            <p>关键字：置顶、顶部</p>
            <h4>代码：</h4>
            <div class="html-pre">
                <pre>&lt;i class=&quot;iconf icon-x-zhiding&quot;&gt;&lt;/i&gt;</pre>
            </div>
        </li>
        <li>
            <i class="iconf icon-x-ad"></i>
            <p>关键字：广告</p>
            <h4>代码：</h4>
            <div class="html-pre">
                <pre>&lt;i class=&quot;iconf icon-x-ad&quot;&gt;&lt;/i&gt;</pre>
            </div>
        </li>
        <li>
            <i class="iconf icon-x-flag "></i>
            <p>关键字：发起活动，旗帜</p>
            <h4>代码：</h4>
            <div class="html-pre">
                <pre>&lt;i class=&quot;iconf icon-x-flag&quot;&gt;&lt;/i&gt;</pre>
            </div>
        </li>
        <li>
            <i class="iconf icon-x-yonghu"></i>
            <p>关键字：用户、人</p>
            <h4>代码：</h4>
            <div class="html-pre">
                <pre>&lt;i class=&quot;iconf icon-x-yonghu&quot;&gt;&lt;/i&gt;</pre>
            </div>
        </li>
        <li>
            <i class="iconf icon-x-share"></i>
            <p>关键字：分享、连接</p>
            <h4>代码：</h4>
            <div class="html-pre">
                <pre>&lt;i class=&quot;iconf icon-x-share&quot;&gt;&lt;/i&gt;</pre>
            </div>
        </li>
        <li>
            <i class="iconf icon-x-jinyong"></i>
            <p>关键字：禁用、不允许</p>
            <h4>代码：</h4>
            <div class="html-pre">
                <pre>&lt;i class=&quot;iconf icon-x-jinyong&quot;&gt;&lt;/i&gt;</pre>
            </div>
        </li>
        <li>
            <i class="iconf icon-x-exit"></i>
            <p>关键字：电源、退出</p>
            <h4>代码：</h4>
            <div class="html-pre">
                <pre>&lt;i class=&quot;iconf icon-x-exit&quot;&gt;&lt;/i&gt;</pre>
            </div>
        </li>
        <li>
            <i class="iconf icon-x-redo"></i>
            <p>关键字：刷新、返回 </p>
            <h4>代码：</h4>
            <div class="html-pre">
                <pre>&lt;i class=&quot;iconf icon-x-redo&quot;&gt;&lt;/i&gt;</pre>
            </div>
        </li>
        <li>
            <i class="iconf icon-x-loop2"></i>
            <p>关键字：刷新、循环</p>
            <h4>代码：</h4>
            <div class="html-pre">
                <pre>&lt;i class=&quot;iconf icon-x-loop2&quot;&gt;&lt;/i&gt;</pre>
            </div>
        </li>
        <li>
            <i class="iconf icon-x-vdengji"></i>
            <p>关键字：等级、级别</p>
            <h4>代码：</h4>
            <div class="html-pre">
                <pre>&lt;i class=&quot;iconf icon-x-vdengji&quot;&gt;&lt;/i&gt;</pre>
            </div>
        </li>
        <li>
            <i class="iconf icon-x-youxiang1"></i>
            <p>关键字：邮箱、信息</p>
            <h4>代码：</h4>
            <div class="html-pre">
                <pre>&lt;i class=&quot;iconf icon-x-youxiang1&quot;&gt;&lt;/i&gt;</pre>
            </div>
        </li>
        <li>
            <i class="iconf icon-x-youhui"></i>
            <p>关键字：优惠、折扣</p>
            <h4>代码：</h4>
            <div class="html-pre">
                <pre>&lt;i class=&quot;iconf icon-x-youhui&quot;&gt;&lt;/i&gt;</pre>
            </div>
        </li>
        <li>
            <i class="iconf icon-x-youhui1"></i>
            <p>关键字：优惠、支付</p>
            <h4>代码：</h4>
            <div class="html-pre">
                <pre>&lt;i class=&quot;iconf icon-x-youhui1&quot;&gt;&lt;/i&gt;</pre>
            </div>
        </li>
        <li>
            <i class="iconf icon-x-Q"></i>
            <p>关键字：主题</p>
            <h4>代码：</h4>
            <div class="html-pre">
                <pre>&lt;i class=&quot;iconf icon-x-Q&quot;&gt;&lt;/i&gt;</pre>
            </div>
        </li>
        <li>
            <i class="iconf icon-x-ser"></i>
            <p>关键字：查找、搜索、查看</p>
            <h4>代码：</h4>
            <div class="html-pre">
                <pre>&lt;i class=&quot;iconf icon-x-ser&quot;&gt;&lt;/i&gt;</pre>
            </div>
        </li>
        <li>
            <i class="iconf icon-iconfont93  fset"></i>
            <p>关键字：开、on</p>
            <h4>代码：</h4>
            <div class="html-pre">
                <pre>&lt;i class=&quot;iconf icon-iconfont93 fset&quot;&gt;&lt;/i&gt;</pre>
            </div>
        </li>
        <li>
            <i class="iconf icon-iconfont92 fccc"></i>
            <p>关键字：关、off</p>
            <h4>代码：</h4>
            <div class="html-pre">
                <pre>&lt;i class=&quot;iconf icon-iconfont92 fccc&quot;&gt;&lt;/i&gt;</pre>
            </div>
        </li>
        <li>
            <i class="iconf icon-icont"></i>
            <p>关键字：字体</p>
            <h4>代码：</h4>
            <div class="html-pre">
                <pre>&lt;i class=&quot;iconf icon-icont&quot;&gt;&lt;/i&gt;</pre>
            </div>
        </li>
        <li>
            <i class="iconf icon-x-collect"></i>
            <p>关键字：未收藏、五角星</p>
            <h4>代码：</h4>
            <div class="html-pre">
                <pre>&lt;i class=&quot;iconf icon-x-collect&quot;&gt;&lt;/i&gt;</pre>
            </div>
        </li>
        <li>
            <i class="iconf icon-s-guanzhu"></i>
            <p>关键字：收藏、实心五角星</p>
            <h4>代码：</h4>
            <div class="html-pre">
                <pre>&lt;i class=&quot;iconf icon-s-guanzhu&quot;&gt;&lt;/i&gt;</pre>
            </div>
        </li>
        <li>
            <i class="iconf icon-x-xiaofeijilu"></i>
            <p>关键字：消费记录、电子票</p>
            <h4>代码：</h4>
            <div class="html-pre">
                <pre>&lt;i class=&quot;iconf icon-x-xiaofeijilu&quot;&gt;&lt;/i&gt;</pre>
            </div>
        </li>
        <li>
            <i class="iconf icon-x-shouji"></i>
            <p>关键字：手机、电话</p>
            <h4>代码：</h4>
            <div class="html-pre">
                <pre>&lt;i class=&quot;iconf icon-x-shouji&quot;&gt;&lt;/i&gt;</pre>
            </div>
        </li>
        <li>
            <i class="iconf icon-x-jinbi"></i>
            <p>关键字：金币、积分</p>
            <h4>代码：</h4>
            <div class="html-pre">
                <pre>&lt;i class=&quot;iconf icon-x-shouji&quot;&gt;&lt;/i&gt;</pre>
            </div>
        </li>
        <li>
            <i class="iconf icon-s-bq"></i>
            <p>关键字：表情、微笑</p>
            <h4>代码：</h4>
            <div class="html-pre">
                <pre>&lt;i class=&quot;iconf icon-s-biaoqing&quot;&gt;&lt;/i&gt;</pre>
            </div>
        </li>
        <li>
            <i class="iconf icon-x-erwei1"></i>
            <p>关键字：二维码、码</p>
            <h4>代码：</h4>
            <div class="html-pre">
                <pre>&lt;i class=&quot;iconf icon-x-erwei1&quot;&gt;&lt;/i&gt;</pre>
            </div>
        </li>
        <li>
            <i class="iconf icon-s-tupian"></i>
            <p>关键字：图片</p>
            <h4>代码：</h4>
            <div class="html-pre">
                <pre>&lt;i class=&quot;iconf icon-s-tupian&quot;&gt;&lt;/i&gt;</pre>
            </div>
        </li>
        <li>
            <i class="iconf icon-x-lianjie-02"></i>
            <p>关键字：连接、链接</p>
            <h4>代码：</h4>
            <div class="html-pre">
                <pre>&lt;i class=&quot;iconf icon-x-lianjie-02&quot;&gt;&lt;/i&gt;</pre>
            </div>
        </li>
        <li>
            <i class="iconf icon-x-xiangqing"></i>
            <p>关键字：详情</p>
            <h4>代码：</h4>
            <div class="html-pre">
                <pre>&lt;i class=&quot;iconf icon-x-lianjie-02&quot;&gt;&lt;/i&gt;</pre>
            </div>
        </li>
        <li>
            <i class="iconf icon-tuikuan"></i>
            <p>关键字：退款，返现</p>
            <h4>代码：</h4>
            <div class="html-pre">
                <pre>&lt;i class=&quot;iconf icon-tuikuan&quot;&gt;&lt;/i&gt;</pre>
            </div>
        </li>
        <li>
            <i class="iconf icon-x-view"></i>
            <p>关键字：查看详情</p>
            <h4>代码：</h4>
            <div class="html-pre">
                <pre>&lt;i class=&quot;iconf icon-x-view&quot;&gt;&lt;/i&gt;</pre>
            </div>
        </li>
        <li>
            <i class="iconf icon-x-xiazai"></i>
            <p>关键字：下载、upload</p>
            <h4>代码：</h4>
            <div class="html-pre">
                <pre>&lt;i class=&quot;iconf icon-x-xiazai&quot;&gt;&lt;/i&gt;</pre>
            </div>
        </li>
        <li>
            <i class="iconf icon-sj1"></i>
            <p>关键字：上架</p>
            <h4>代码：</h4>
            <div class="html-pre">
                <pre>&lt;i class=&quot;iconf icon-sj1&quot;&gt;&lt;/i&gt;</pre>
            </div>
        </li>
        <li>
            <i class="iconf icon-xj1"></i>
            <p>关键字：下架</p>
            <h4>代码：</h4>
            <div class="html-pre">
                <pre>&lt;i class=&quot;iconf icon-xj1&quot;&gt;&lt;/i&gt;</pre>
            </div>
        </li>
        <li>
            <i class="iconf icon-shenhe1"></i>
            <p>关键字：审核</p>
            <h4>代码：</h4>
            <div class="html-pre">
                <pre>&lt;i class=&quot;iconf icon-shenhe1&quot;&gt;&lt;/i&gt;</pre>
            </div>
        </li>
        <li>
            <i class="iconf icon-bq1"></i>
            <p>关键字：标签</p>
            <h4>代码：</h4>
            <div class="html-pre">
                <pre>&lt;i class=&quot;iconf icon-bq1&quot;&gt;&lt;/i&gt;</pre>
            </div>
        </li>

        <li>
            <i class="iconf icon-dc1"></i>
            <p>关键字：导出</p>
            <h4>代码：</h4>
            <div class="html-pre">
                <pre>&lt;i class=&quot;iconf icon-bq1&quot;&gt;&lt;/i&gt;</pre>
            </div>
        </li>

        <li>
            <i class="iconf icon-daifahuo"></i>
            <p>关键字：待发货</p>
            <h4>代码：</h4>
            <div class="html-pre">
                <pre>&lt;i class=&quot;iconf icon-daifahuo&quot;&gt;&lt;/i&gt;</pre>
            </div>
        </li>

        <li>
            <i class="iconf icon-x-icontongji"></i>
            <p>关键字：统计</p>
            <h4>代码：</h4>
            <div class="html-pre">
                <pre>&lt;i class=&quot;iconf icon-x-icontongji&quot;&gt;&lt;/i&gt;</pre>
            </div>
        </li>
    </ul>
</div>
<a class="btn sm-ding" href="#" title="返回顶部"><i class="iconf icon-x-zhiding"></i></a>
<div class="f754 sm-footer">小技巧：查找相关联图标字体Ctrl+F 查询关键字</div>
