USE [SQY_Manage]
GO
/****** Object:  Table [dbo].[turn_in_out_record]    Script Date: 01/17/2017 15:23:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[turn_in_out_record](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[Money] [decimal](18, 2) NOT NULL,
	[OperationDate] [datetime] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[Deleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[turn_in_out_record] ON
INSERT [dbo].[turn_in_out_record] ([Id], [UserId], [Money], [OperationDate], [CreatedOn], [Deleted]) VALUES (33, 2, CAST(2700.00 AS Decimal(18, 2)), CAST(0x0000A44E00000000 AS DateTime), CAST(0x0000A6B20161B0B4 AS DateTime), 0)
INSERT [dbo].[turn_in_out_record] ([Id], [UserId], [Money], [OperationDate], [CreatedOn], [Deleted]) VALUES (34, 2, CAST(2200.00 AS Decimal(18, 2)), CAST(0x0000A46D00000000 AS DateTime), CAST(0x0000A6B20161DAD4 AS DateTime), 0)
INSERT [dbo].[turn_in_out_record] ([Id], [UserId], [Money], [OperationDate], [CreatedOn], [Deleted]) VALUES (35, 2, CAST(4500.00 AS Decimal(18, 2)), CAST(0x0000A48B00000000 AS DateTime), CAST(0x0000A6B20161F533 AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[turn_in_out_record] OFF
/****** Object:  Table [dbo].[sys_user_menu]    Script Date: 01/17/2017 15:23:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[sys_user_menu](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[STitle] [nvarchar](200) NULL,
	[Description] [nvarchar](500) NULL,
	[ParentId] [int] NULL,
	[ControllName] [varchar](100) NULL,
	[ActionName] [varchar](100) NULL,
	[SortValue] [int] NULL,
	[State] [bit] NOT NULL,
	[IsPath] [bit] NULL,
	[ShowInMenu] [bit] NULL,
	[Code] [varchar](200) NULL,
	[Deleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[sys_user_menu] ON
INSERT [dbo].[sys_user_menu] ([Id], [Title], [STitle], [Description], [ParentId], [ControllName], [ActionName], [SortValue], [State], [IsPath], [ShowInMenu], [Code], [Deleted]) VALUES (1, N'设置', NULL, N'设置管理', 0, N'', N'', 6, 1, 1, 1, NULL, 0)
INSERT [dbo].[sys_user_menu] ([Id], [Title], [STitle], [Description], [ParentId], [ControllName], [ActionName], [SortValue], [State], [IsPath], [ShowInMenu], [Code], [Deleted]) VALUES (2, N'角色管理', NULL, NULL, 6, N'usergroup', N'index', 1, 1, 0, 1, NULL, 0)
INSERT [dbo].[sys_user_menu] ([Id], [Title], [STitle], [Description], [ParentId], [ControllName], [ActionName], [SortValue], [State], [IsPath], [ShowInMenu], [Code], [Deleted]) VALUES (4, N'员工管理', NULL, NULL, 6, N'user', N'index', 0, 1, 1, 1, NULL, 0)
SET IDENTITY_INSERT [dbo].[sys_user_menu] OFF
/****** Object:  Table [dbo].[sys_user_group]    Script Date: 01/17/2017 15:23:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[sys_user_group](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NULL,
	[Description] [nvarchar](500) NULL,
	[Code] [varchar](200) NULL,
	[State] [bit] NOT NULL,
	[SortValue] [int] NULL,
	[IsFree] [int] NULL,
	[Deleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[sys_user_group] ON
INSERT [dbo].[sys_user_group] ([Id], [Title], [Description], [Code], [State], [SortValue], [IsFree], [Deleted]) VALUES (1, N'超级管理员', N'超级管理员', N'SA', 1, 0, 0, 0)
INSERT [dbo].[sys_user_group] ([Id], [Title], [Description], [Code], [State], [SortValue], [IsFree], [Deleted]) VALUES (2, N'前端开发', N'前端开发', N'WebDesign', 1, 2, 0, 0)
INSERT [dbo].[sys_user_group] ([Id], [Title], [Description], [Code], [State], [SortValue], [IsFree], [Deleted]) VALUES (3, N'普通管理员', N'普通管理员', N'ADMIN', 1, 3, 0, 0)
SET IDENTITY_INSERT [dbo].[sys_user_group] OFF
/****** Object:  Table [dbo].[sys_user]    Script Date: 01/17/2017 15:23:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[sys_user](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](100) NULL,
	[UserCode] [varchar](100) NULL,
	[Email] [varchar](100) NULL,
	[Mobile] [varchar](50) NULL,
	[PassCode] [varchar](100) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [int] NULL,
	[State] [int] NULL,
	[Deleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[sys_user] ON
INSERT [dbo].[sys_user] ([Id], [UserName], [UserCode], [Email], [Mobile], [PassCode], [CreatedOn], [CreatedBy], [State], [Deleted]) VALUES (1, N'舒', N'sa', N'666@qq.com', N'13200000000', N'94E21934D0BBB0A2', CAST(0x0000A674010EFD73 AS DateTime), 0, 1, 0)
INSERT [dbo].[sys_user] ([Id], [UserName], [UserCode], [Email], [Mobile], [PassCode], [CreatedOn], [CreatedBy], [State], [Deleted]) VALUES (2, N'tf', N'tf', N'612123132@q.com', N'13211111111', N'94E21934D0BBB0A2', CAST(0x0000A67801294ED0 AS DateTime), 0, 1, 0)
INSERT [dbo].[sys_user] ([Id], [UserName], [UserCode], [Email], [Mobile], [PassCode], [CreatedOn], [CreatedBy], [State], [Deleted]) VALUES (3, N'管理员', N'admin', N'admin', N'13200001111', N'94E21934D0BBB0A2', CAST(0x0000A68D0118191C AS DateTime), 0, 1, 0)
SET IDENTITY_INSERT [dbo].[sys_user] OFF
/****** Object:  Table [dbo].[stock_exchange_record]    Script Date: 01/17/2017 15:23:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[stock_exchange_record](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[StockCode] [varchar](20) NOT NULL,
	[StockName] [nvarchar](20) NULL,
	[BuyPrice] [decimal](18, 5) NOT NULL,
	[SellPrice] [decimal](18, 5) NOT NULL,
	[Quantity] [int] NOT NULL,
	[BuyDate] [datetime] NOT NULL,
	[SellDate] [datetime] NOT NULL,
	[Profit] [decimal](18, 5) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[Deleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[stock_exchange_record] ON
INSERT [dbo].[stock_exchange_record] ([Id], [UserId], [StockCode], [StockName], [BuyPrice], [SellPrice], [Quantity], [BuyDate], [SellDate], [Profit], [CreatedOn], [Deleted]) VALUES (11, 2, N'000627', N'天茂集团', CAST(8.86500 AS Decimal(18, 5)), CAST(9.24570 AS Decimal(18, 5)), 200, CAST(0x0000A45800000000 AS DateTime), CAST(0x0000A45D00000000 AS DateTime), CAST(76.14000 AS Decimal(18, 5)), CAST(0x0000A6B201657334 AS DateTime), 0)
INSERT [dbo].[stock_exchange_record] ([Id], [UserId], [StockCode], [StockName], [BuyPrice], [SellPrice], [Quantity], [BuyDate], [SellDate], [Profit], [CreatedOn], [Deleted]) VALUES (12, 2, N'600302', N'标准股份', CAST(7.96560 AS Decimal(18, 5)), CAST(8.24110 AS Decimal(18, 5)), 200, CAST(0x0000A45E00000000 AS DateTime), CAST(0x0000A46600000000 AS DateTime), CAST(55.10000 AS Decimal(18, 5)), CAST(0x0000A6B20165C712 AS DateTime), 0)
INSERT [dbo].[stock_exchange_record] ([Id], [UserId], [StockCode], [StockName], [BuyPrice], [SellPrice], [Quantity], [BuyDate], [SellDate], [Profit], [CreatedOn], [Deleted]) VALUES (13, 2, N'600186', N'莲花健康', CAST(7.83730 AS Decimal(18, 5)), CAST(8.08460 AS Decimal(18, 5)), 300, CAST(0x0000A47B00000000 AS DateTime), CAST(0x0000A49700000000 AS DateTime), CAST(74.19000 AS Decimal(18, 5)), CAST(0x0000A6B201661F0E AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[stock_exchange_record] OFF
/****** Object:  Table [dbo].[stock]    Script Date: 01/17/2017 15:23:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[stock](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StockCode] [varchar](100) NULL,
	[StockName] [nvarchar](100) NULL,
	[PyFullName] [varchar](100) NULL,
	[PyAbbre] [varchar](100) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[stock] ON
INSERT [dbo].[stock] ([Id], [StockCode], [StockName], [PyFullName], [PyAbbre]) VALUES (1, N'166105', N'信达增利', N'XinDaZengLi', N'XDZL')
INSERT [dbo].[stock] ([Id], [StockCode], [StockName], [PyFullName], [PyAbbre]) VALUES (2, N'201000', N'R003', N'R003', N'R003')
INSERT [dbo].[stock] ([Id], [StockCode], [StockName], [PyFullName], [PyAbbre]) VALUES (3, N'201001', N'R007', N'R007', N'R007')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
GO
print 'Processed 1700 total records'
GO
print 'Processed 1800 total records'
GO
print 'Processed 1900 total records'
GO
print 'Processed 2000 total records'
GO
print 'Processed 2100 total records'
GO
print 'Processed 2200 total records'
GO
print 'Processed 2300 total records'
GO
print 'Processed 2400 total records'
GO
print 'Processed 2500 total records'
GO
print 'Processed 2600 total records'
GO
print 'Processed 2700 total records'
GO
print 'Processed 2800 total records'
GO
print 'Processed 2900 total records'
GO
print 'Processed 3000 total records'
GO
print 'Processed 3100 total records'
GO
print 'Processed 3200 total records'
GO
print 'Processed 3300 total records'
GO
print 'Processed 3400 total records'
GO
print 'Processed 3500 total records'
GO
print 'Processed 3600 total records'
GO
print 'Processed 3700 total records'
GO
print 'Processed 3800 total records'
SET IDENTITY_INSERT [dbo].[stock] OFF
/****** Object:  Table [dbo].[PracticeTable]    Script Date: 01/17/2017 15:23:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PracticeTable](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[UserCode] [varchar](50) NOT NULL,
	[UserPassword] [varbinary](50) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_PracticeTable] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[delivery_order]    Script Date: 01/17/2017 15:23:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[delivery_order](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[SecurityCode] [varchar](100) NULL,
	[SecurityName] [nvarchar](100) NULL,
	[Volume] [int] NULL,
	[TransactionPrice] [decimal](18, 5) NULL,
	[TransactionAmount] [decimal](18, 5) NULL,
	[CounterFee] [decimal](18, 5) NULL,
	[StampDuty] [decimal](18, 5) NULL,
	[OtherExpenses] [decimal](18, 5) NULL,
	[OccurrenceAmount] [decimal](18, 5) NULL,
	[Remark] [nvarchar](500) NULL,
	[Operation] [nvarchar](500) NULL,
	[OperationType] [int] NULL,
	[ClosingDate] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[delivery_order] ON
INSERT [dbo].[delivery_order] ([Id], [UserId], [SecurityCode], [SecurityName], [Volume], [TransactionPrice], [TransactionAmount], [CounterFee], [StampDuty], [OtherExpenses], [OccurrenceAmount], [Remark], [Operation], [OperationType], [ClosingDate]) VALUES (1, 2, N'002416', N'爱施德', -1000, CAST(16.44000 AS Decimal(18, 5)), CAST(16440.00000 AS Decimal(18, 5)), CAST(5.00000 AS Decimal(18, 5)), CAST(16.44000 AS Decimal(18, 5)), CAST(0.00000 AS Decimal(18, 5)), CAST(16418.56000 AS Decimal(18, 5)), N'0', N'卖出', 1, N'20161109')
INSERT [dbo].[delivery_order] ([Id], [UserId], [SecurityCode], [SecurityName], [Volume], [TransactionPrice], [TransactionAmount], [CounterFee], [StampDuty], [OtherExpenses], [OccurrenceAmount], [Remark], [Operation], [OperationType], [ClosingDate]) VALUES (2, 2, N'002416', N'爱施德', 1000, CAST(17.00000 AS Decimal(18, 5)), CAST(17000.00000 AS Decimal(18, 5)), CAST(5.10000 AS Decimal(18, 5)), CAST(0.00000 AS Decimal(18, 5)), CAST(0.00000 AS Decimal(18, 5)), CAST(-17005.10000 AS Decimal(18, 5)), N'0', N'买入', 0, N'20161109')
INSERT [dbo].[delivery_order] ([Id], [UserId], [SecurityCode], [SecurityName], [Volume], [TransactionPrice], [TransactionAmount], [CounterFee], [StampDuty], [OtherExpenses], [OccurrenceAmount], [Remark], [Operation], [OperationType], [ClosingDate]) VALUES (3, 2, N'002416', N'爱施德', -600, CAST(16.97000 AS Decimal(18, 5)), CAST(10182.00000 AS Decimal(18, 5)), CAST(5.00000 AS Decimal(18, 5)), CAST(10.18000 AS Decimal(18, 5)), CAST(0.00000 AS Decimal(18, 5)), CAST(10166.82000 AS Decimal(18, 5)), N'0', N'卖出', 1, N'20161108')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
SET IDENTITY_INSERT [dbo].[delivery_order] OFF
/****** Object:  Table [dbo].[water_bill]    Script Date: 01/17/2017 15:23:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[water_bill](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[BMonthMoney] [decimal](18, 5) NOT NULL,
	[TurnInMoney] [decimal](18, 5) NOT NULL,
	[TurnOutMoney] [decimal](18, 5) NOT NULL,
	[ProfitMoney] [decimal](18, 5) NOT NULL,
	[EMonthMoney] [decimal](18, 5) NOT NULL,
	[Date] [datetime] NOT NULL,
	[UpdatedOn] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[water_bill] ON
INSERT [dbo].[water_bill] ([Id], [UserId], [BMonthMoney], [TurnInMoney], [TurnOutMoney], [ProfitMoney], [EMonthMoney], [Date], [UpdatedOn]) VALUES (22, 2, CAST(0.00000 AS Decimal(18, 5)), CAST(2700.00000 AS Decimal(18, 5)), CAST(0.00000 AS Decimal(18, 5)), CAST(131.24000 AS Decimal(18, 5)), CAST(2831.24000 AS Decimal(18, 5)), CAST(0x0000A44E00000000 AS DateTime), CAST(0x0000A6B2017FEA7B AS DateTime))
INSERT [dbo].[water_bill] ([Id], [UserId], [BMonthMoney], [TurnInMoney], [TurnOutMoney], [ProfitMoney], [EMonthMoney], [Date], [UpdatedOn]) VALUES (23, 2, CAST(2831.24000 AS Decimal(18, 5)), CAST(2200.00000 AS Decimal(18, 5)), CAST(0.00000 AS Decimal(18, 5)), CAST(0.00000 AS Decimal(18, 5)), CAST(5031.24000 AS Decimal(18, 5)), CAST(0x0000A46D00000000 AS DateTime), CAST(0x0000A6B2017FEA7B AS DateTime))
INSERT [dbo].[water_bill] ([Id], [UserId], [BMonthMoney], [TurnInMoney], [TurnOutMoney], [ProfitMoney], [EMonthMoney], [Date], [UpdatedOn]) VALUES (24, 2, CAST(5031.24000 AS Decimal(18, 5)), CAST(4500.00000 AS Decimal(18, 5)), CAST(0.00000 AS Decimal(18, 5)), CAST(896.44000 AS Decimal(18, 5)), CAST(10427.68000 AS Decimal(18, 5)), CAST(0x0000A48B00000000 AS DateTime), CAST(0x0000A6B2017FEA7B AS DateTime))
SET IDENTITY_INSERT [dbo].[water_bill] OFF
/****** Object:  Table [dbo].[user_group_mapping]    Script Date: 01/17/2017 15:23:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_group_mapping](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[GroupId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[user_group_mapping] ON
INSERT [dbo].[user_group_mapping] ([Id], [UserId], [GroupId]) VALUES (7, 2, 2)
INSERT [dbo].[user_group_mapping] ([Id], [UserId], [GroupId]) VALUES (9, 1, 1)
INSERT [dbo].[user_group_mapping] ([Id], [UserId], [GroupId]) VALUES (10, 3, 3)
SET IDENTITY_INSERT [dbo].[user_group_mapping] OFF
/****** Object:  Table [dbo].[group_menu_mapping]    Script Date: 01/17/2017 15:23:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[group_menu_mapping](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GroupId] [int] NOT NULL,
	[MenuID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[group_menu_mapping] ON
INSERT [dbo].[group_menu_mapping] ([Id], [GroupId], [MenuID]) VALUES (340, 1, 14)
INSERT [dbo].[group_menu_mapping] ([Id], [GroupId], [MenuID]) VALUES (341, 1, 33)
INSERT [dbo].[group_menu_mapping] ([Id], [GroupId], [MenuID]) VALUES (342, 1, 34)
SET IDENTITY_INSERT [dbo].[group_menu_mapping] OFF
/****** Object:  Default [DF_PracticeTable_CreatedOn]    Script Date: 01/17/2017 15:23:55 ******/
ALTER TABLE [dbo].[PracticeTable] ADD  CONSTRAINT [DF_PracticeTable_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
/****** Object:  Default [DF_PracticeTable_Deleted]    Script Date: 01/17/2017 15:23:55 ******/
ALTER TABLE [dbo].[PracticeTable] ADD  CONSTRAINT [DF_PracticeTable_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
/****** Object:  Default [DF__stock_exc__Creat__47DBAE45]    Script Date: 01/17/2017 15:23:55 ******/
ALTER TABLE [dbo].[stock_exchange_record] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
/****** Object:  Default [DF__stock_exc__Delet__48CFD27E]    Script Date: 01/17/2017 15:23:55 ******/
ALTER TABLE [dbo].[stock_exchange_record] ADD  DEFAULT ((0)) FOR [Deleted]
GO
/****** Object:  Default [DF__sys_user___SortV__07020F21]    Script Date: 01/17/2017 15:23:55 ******/
ALTER TABLE [dbo].[sys_user_group] ADD  DEFAULT ((0)) FOR [SortValue]
GO
/****** Object:  Default [DF__sys_user___Delet__07F6335A]    Script Date: 01/17/2017 15:23:55 ******/
ALTER TABLE [dbo].[sys_user_group] ADD  DEFAULT ((0)) FOR [Deleted]
GO
/****** Object:  Default [DF__sys_user___ShowI__014935CB]    Script Date: 01/17/2017 15:23:55 ******/
ALTER TABLE [dbo].[sys_user_menu] ADD  DEFAULT ((0)) FOR [ShowInMenu]
GO
/****** Object:  Default [DF__sys_user___Delet__023D5A04]    Script Date: 01/17/2017 15:23:55 ******/
ALTER TABLE [dbo].[sys_user_menu] ADD  DEFAULT ((0)) FOR [Deleted]
GO
/****** Object:  Default [DF__turn_in_o__Creat__38996AB5]    Script Date: 01/17/2017 15:23:55 ******/
ALTER TABLE [dbo].[turn_in_out_record] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
/****** Object:  Default [DF__turn_in_o__Delet__398D8EEE]    Script Date: 01/17/2017 15:23:55 ******/
ALTER TABLE [dbo].[turn_in_out_record] ADD  DEFAULT ((0)) FOR [Deleted]
GO
/****** Object:  ForeignKey [groupmenu_groupid_cons]    Script Date: 01/17/2017 15:23:55 ******/
ALTER TABLE [dbo].[group_menu_mapping]  WITH CHECK ADD  CONSTRAINT [groupmenu_groupid_cons] FOREIGN KEY([GroupId])
REFERENCES [dbo].[sys_user_group] ([Id])
GO
ALTER TABLE [dbo].[group_menu_mapping] CHECK CONSTRAINT [groupmenu_groupid_cons]
GO
/****** Object:  ForeignKey [groupmenu_menuid_cons]    Script Date: 01/17/2017 15:23:55 ******/
ALTER TABLE [dbo].[group_menu_mapping]  WITH CHECK ADD  CONSTRAINT [groupmenu_menuid_cons] FOREIGN KEY([MenuID])
REFERENCES [dbo].[sys_user_menu] ([Id])
GO
ALTER TABLE [dbo].[group_menu_mapping] CHECK CONSTRAINT [groupmenu_menuid_cons]
GO
/****** Object:  ForeignKey [usergroup_groupid_cons]    Script Date: 01/17/2017 15:23:55 ******/
ALTER TABLE [dbo].[user_group_mapping]  WITH CHECK ADD  CONSTRAINT [usergroup_groupid_cons] FOREIGN KEY([GroupId])
REFERENCES [dbo].[sys_user_group] ([Id])
GO
ALTER TABLE [dbo].[user_group_mapping] CHECK CONSTRAINT [usergroup_groupid_cons]
GO
/****** Object:  ForeignKey [usergroup_userid_cons]    Script Date: 01/17/2017 15:23:55 ******/
ALTER TABLE [dbo].[user_group_mapping]  WITH CHECK ADD  CONSTRAINT [usergroup_userid_cons] FOREIGN KEY([UserId])
REFERENCES [dbo].[sys_user] ([Id])
GO
ALTER TABLE [dbo].[user_group_mapping] CHECK CONSTRAINT [usergroup_userid_cons]
GO
