<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0"/>
  <add key="webpages:Enabled" value="false"/>
  <add key="ClientValidationEnabled" value="true"/>
  <add key="UnobtrusiveJavaScriptEnabled" value="true"/>

  <!--企业号-->
  <add key="CorpId" value="wx1c45702b62915c55" />
  <add key="CorpSecret" value="CQuvCOhftyyKprsjpkrTF-VLxKWn01VE3Dd8zBtloOGwiObnpClvdmMhwnEFpO99" />


  <!--微信回调Service-->
  <add key="WeixinCallbackServiceName" value="WeixinCallback"/>
  <add key="WeixinAuthorizationCallbackUrl" value="WeixinOAuth/WeixinCallback"/>
  <!--微信Controller-->
  <add key="WeixinController" value="weixin"/>


  <add key="WeixinServiceType" value="QY"/>
  <add key="LeShareUrl" value="http://todo.mstyles.com.cn"/>


  <add key="LogPath" value ="f:\usr\LocalUser\qxw1151970042\Log\"/>

  <add key="YaoAgentId" value ="6"/>
  <!--图片路径-->
  <add key="ImgPath" value="f:\usr\LocalUser\qxw1151970042\Img\"/>
  <!--文本路径-->
  <add key="TxtPath" value="f:\usr\LocalUser\qxw1151970042\Content\TxtFile\"/>
  <!--最小赞数-->
  <add key="ZanLevel" value="5000"/>
  <!--推荐文章所需最小赞数-->
  <add key="RecommendZanLevel" value="5000"/>
</appSettings>