
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="stylesheet" href="~/Content/Weui/weui.min.css" />
</head>
<body>
    <div class="page slideIn cell">
        <div class="weui_cells_title">个人资料</div>
        <div class="weui_cells">
            <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary">
                    <p>昵称:<label>test</label></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
