@{
    ViewBag.Title = "排序算法介绍";
}
@section styles{
    <link href="~/css/algorithm.css" rel="stylesheet"/>
}
<div class="mianbaowarp  clearfix ">
    @Html.Partial("_NavPartial")
</div>
<div class="tipBlock">
    <p>所有排序算法继承下面的类，为了统一比较方法和交换方法。</p>
    <p class="boldBlock">排序算法公用模块代码：</p>
</div>
<div class="codeBlock">
    @Html.Raw(ViewBag.TempStr)
</div>