
@{
    ViewBag.Title = "排序算法介绍";
}
@section styles{
    <style>
        .codeBlock{
            background:#F5F5F5;
            padding:20px;
            color:#333;
        }
    </style>
}
<div class="mianbaowarp  clearfix ">
    @Html.Partial("_NavPartial")
</div>
<div class="codeBlock">
    @Html.Raw(ViewBag.SelectionSortStr)
</div>
