@{
    ViewBag.Title = "快速排序";
}
@section styles{
    <link href="~/css/algorithm.css" rel="stylesheet" />
}
<div class="mianbaowarp  clearfix ">
    @Html.Partial("_NavPartial")
</div>
<div class="tipBlock">
    <p>快速排序（Quicksort）是对冒泡排序的一种改进。</p>
    <p>快速排序由C. A. R. Hoare在1962年提出。它的基本思想是：通过一趟排序将要排序的数据分割成独立的两部分，其中一部分的所有数据都比另外一部分的所有数据都要小，然后再按此方法对这两部分数据分别进行快速排序，整个排序过程可以递归进行，以此达到整个数据变成有序序列。</p>
    <p class="boldBlock">快速排序算法C#代码：</p>
</div>
<div class="codeBlock">
    @Html.Raw(ViewBag.SortHtml)
</div>
<div class="tipBlock">
    <p class="boldBlock">排序算法公用模块代码：</p>
</div>
<div class="codeBlock">
    @Html.Raw(ViewBag.TempStr)
</div>